{% extends "template_model.html" %}
{% block title %} smth {% endblock %}
{% block page_content %}
<!--<form action="" method="POST">
    {{ form.username.label() }}<br>
    {{ form.username() }}<br><br>
    {{ form.usermail.label() }}<br>
    {{ form.usermail() }}<br><br>
    {{ form.submit() }}
    <div >
        {{ message }}
    </div>
</form>-->
<div class="page-header">
    <h1>Hello, {% if name %} {{name }} {% else %} Stranger {% endif %}!</h1>
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}
{% endblock %}