{% block title %} Name {% endblock %}

{% block navbar %}
<style>
    body {
    background-color: black;
    }
    A.link1 { font-size: 12px; color: green; }
    A.namecb { color: white;
      font-family: 'trebuchet ms', Times, serif; /* Гарнитура текста */
    font-size: 175%; /* Размер шрифта в процентах */}
   #right{ text-align: right}
   #left{ text-align: left; }
   #center{ text-align: center; }
   a{
    text-decoration: none;
    }
   #nameblock{
   border: 1px solid black;
   height: 90px;
   width: 10%;
   background-color: #E0FFFF;
   padding: 5px;
   border-radius: 10px;
   float: right;
   text-align: justify;
   margin: 0px;
   padding: 0px;
   text-indent: 0px;
   }

   #firstblock {
   color: white;
   position: fixed;
   border: 1px solid black;
   height: 10%;
   width: 7%;
   background-color: black;
   padding: 5px;
   border-radius: 10px;
   float: left;
   }
   #mainblock {
   color: white;
   height: 80%;
   width: 81.5%;
   background-color: black;
   padding: 5px;
   border-radius: 10px;
   float: right;
   float: right;
   margin-left: 5px;
   margin-right: 5px;
   <!-- text styles -->
   font-size: 16px;
   font-weight: normal;
   font-family: Times new roman;
   line-height: 1.5em;
   word-wrap: break-word;
    }
    #top {
   border-bottom: 1px solid black;
   height: 10%;
   padding: 5px;
   background-color: Black;
   margin-bottom: 5px;
   font-size: 16px;
    }
  </style>
{% endblock %}
<div id="top">
    <a href="http://127.0.0.1:5000/" class="namecb"><p><p><h1>Name</h1></p></a>
</div>
<div id = "firstblock">
           <!-- <a href="http://127.0.0.1:8000/"><p><p><h1>ChemBro</h1></p></a>-->
            <ul>
                <li><a href="http://127.0.0.1:5000/reg" class="link1">Reg</a></br></li>
               <li><a href="http://127.0.0.1:5000/link1" class="link1">Cсылка 1</a></br></li>
                <li><a href="http://127.0.0.1:5000/link2" class="link1"> Ссылка 2</a><br></li>
                <li><a href="http://127.0.0.1:8000/2" class="link1"> About</a></br></li>
                <li><a href="http://127.0.0.1:8000/admin/login/?next=/admin/" class="link1"> Reg</a></br></li>
            </ul>
            <img src="favicon.ico"/><!--dont work-->
        </div>
</div>
        <div id = "nameblock">
        <!--<a href="http://127.0.0.1:8000/" class="link1"> Cсылка 1</a>
        <a href="http://127.0.0.1:8000/1" class="link1"> Ссылка 2</a>
        <a href="http://127.0.0.1:8000/2" class="link1"> Ссылка 3</a>-->
        <a href="http://127.0.0.1:5000/" class="namecb"><p><p><h1>Name</h1></p></a>
        </div>
{% block content %}
    <div id = "mainblock">
         {% block page_content %} {% endblock %}
    </div>

{% endblock %}
